* {
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(80,80,80)
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff url('../images/loader.gif') no-repeat 50% 50%;
}

.particles-js-canvas-el {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 1;
}
.github-widget {
    position: absolute;
    right: 6%;
    float: right;
}

div#intro {
    background-color: rgb(80,80,80);
    height: 100%;
    margin: 0px;
}

div#page {
    background-color: #fff;
    margin: 0px 3%;
    padding: 30px 3%;
    height: 750px;
    z-index: 2;
}

#page #footer {
    /* border-top: 1px solid rgb(200,200,200); */
    height: 50px;

}

#page #left, #page #right {
    width: 50%;
}

#page #left {
    float: left;
}

/* Text */
#intro h1 {
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 160px;
    text-shadow: 2px 2px #000;
}

#intro h3 {
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 39px;
    text-shadow: 2px 2px #000;
}

#page p {
    max-width: 80%;
}

#page h3 {
    display: inline;
    border-bottom: 1px solid rgb(200,200,200);
}

/* Things to fiddle with */
#intro .text-wrapper{
    padding-top: 16%; 
}