* {
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(80,80,80)
}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: #fff url('../images/loader.gif') no-repeat 50% 50%;
}

.particles-js-canvas-el {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 0;
}
.github-widget {
    position: absolute;
    right: 3%;
    float: right;
}

div#intro {
    background-color: rgb(80,80,80);
    height: 100%;
    margin: 0px;
}

div#page {
    background-color: #fff;
    margin: 0px 3% 20px 3%;
    padding: 30px 3%;
    height: 750px;
    position: relative;
    z-index: 1;
    border-radius: 10px;
}

#page #footer {
    /* border-top: 1px solid rgb(200,200,200); */
    height: 50px;
}

#page #left, #page #right {
    width: 50%;
}

#page #left {
    float: left;
}

.levitate {
    animation: levitate 1.5s linear infinite alternate;
}

.levitate-margin {
    animation: levitate-margin 1.5s linear infinite alternate;
}

#intro .arrow {
    position: absolute;
    left: 50%;
    bottom: 5%;
    border-color: white;
}

/* Arrows */
.arrow {
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-width: 0 3px 3px 0;
    margin: 5px;
}

.arrow.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.arrow.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrow.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.arrow.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


/* Text */
#intro h1 {
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 160px;
    text-shadow: 2px 2px #000;
}

#intro h3 {
    margin: 0px;
    text-align: center;
    color: #fff;
    font-size: 39px;
    text-shadow: 2px 2px #000;
}

#page p {
    max-width: 80%;
}

#page h3 {
    display: inline;
    border-bottom: 1px solid rgb(200,200,200);
}

/* Animations */

@keyframes levitate {
    from { 
        -ms-transform: translate(0, 0); /* IE 9 */
        -webkit-transform: translate(0, 0); /* Safari */
        transform: translate(0, 0);
    }
    to {
        -ms-transform: translate(0, 10px); /* IE 9 */
        -webkit-transform: translate(0, 10px); /* Safari */
        transform: translate(0, 10px);
    }
}

/* For when using transform is no option */
@keyframes levitate-margin {
    from { 
        margin-bottom: 0px;
    }
    to {
        margin-bottom: 10px;
    }
}

/* Things to fiddle with */
#intro .text-wrapper{
    padding-top: 16%; 
}